Repository openshift/lvm-operator, pull requests merged in 2024-12, with the labels that each got.

#808 OCPBUGS-45868: Use bytes as unit in lvm commands
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/validatelvs_test.go
Labels: lgtm, approved, jira/valid-reference, size/M, jira/valid-bug

#810 [release-4.17] OCPBUGS-46378: Use bytes as unit in lvm commands
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/validatelvs_test.go
Labels: approved, jira/valid-reference, size/M, jira/invalid-bug

#811 [release-4.16] OCPBUGS-46392: Use bytes as unit in lvm commands
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/validatelvs_test.go
Labels: approved, jira/valid-reference, size/M, jira/invalid-bug

#818 OCPBUGS-46667: Bump golang.org/x/net to v0.33.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/modules.txt
Labels: lgtm, approved, jira/valid-reference, jira/severity-important, jira/valid-bug, size/S

#796 OCPEDGE-1186: Konflux hermetic builds
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  Makefile
  docs/dependency-management.md
  go.mod
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
Labels: lgtm, approved, jira/valid-reference, size/XXL

#820 NO-JIRA: fix: removing the index build part of the bundle pipeline
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Labels: lgtm, approved, jira/valid-reference, size/XS
